alter user postgres password '{{pg_pwd}}';
create user bdt createdb;
alter user bdt password '{{pg_pwd}}';

CREATE DATABASE bdt
  WITH ENCODING='UTF8'
       OWNER=bdt
       CONNECTION LIMIT=-1;

 \q
